<aside class="application-sidebar">
  <div class="sidebar-container sidebar-transition">
    <div class="sidebar-overlay">
      <nav class="leftNav-transition">
        <ul>
          <li routerLink="/"><a><span>首页</span><i class="iconfont icon-arrow-right right"></i></a></li>
          <li routerLink="/film"><a><span>影片</span><i class="iconfont icon-arrow-right right"></i></a></li>
          <!--<li onClick={()=>hashHistory.push('cinema')}><a><span>影院</span><i class="iconfont icon-arrow-right right"></i></a></li>-->
          <!--<li onClick={()=>hashHistory.push('login')}><a><span>我的</span><i class="iconfont icon-arrow-right right"></i></a></li>-->
          <!--<li onClick={()=>hashHistory.push('card')}><a><span>卖座网查询</span><i class="iconfont icon-arrow-right right"></i></a></li>-->
        </ul>
      </nav>
    </div>
  </div>
</aside>
