                  #toolbar {
                    background: #282828;
                    position: fixed;
                    z-index: 500;
                    top: 0;
                    right: 0;
                    left: 0;
                    width: auto;
                    height: 50px;
                    line-height: 50px;
                    overflow: hidden;
                    h1 {
                      color: #fff;
                      font-size: 16px;
                      line-height: 50px;
                      text-align: left;
                      text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
                      width: auto;
                      height: 50px;
                      margin: 0 auto;
                      float: left;
                      a{
                        font-size: 16px;
                        line-height: 50px;
                        text-align: left;
                        text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
                        .toolbar-title-icon {
                          float: left;
                          width: 48px;
                          text-align: center;
                          border-right: 1px solid #222;
                          box-shadow: 1px 0 1px #363636;
                          color: #999;
                        }
                        .toolbar-title {
                          padding: 0 1em;
                          float: left;
                          font-size: 14px;
                          color: #efefef;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          displdday: inline-block;
                          overflow: hidden;
                        }
                      }
                    }
                  }
#nav-right {
  float: right;
  .city {
    float: left;
    font-size: 14px;
    padding: 0 6px;
  }
  .user {
    float: left;
    font-size: 16px;
    width: 48px;
    text-align: center;
  }
  a {
    color: #999;
  }
}
